
body {
    background-color: lightpink;
    color: purple;
    font-family: Arial, Helvetica, sans-serif;
    font-style: unset;
    width: 1000px;
    padding-left: 50px;
    padding-right: 30px;
    padding-bottom: 1000px;
    margin: 20px;
}

main {
    margin-left: 20%;
    margin-right: 20%;
}

@media only screen and (max-width: 1000px){
    body {
        background-color: lightpink;
    }
    main {
        width: 100%
    }
}
@media only screen and (max-width: 400px){
    body {
        background-color: rgb(245, 168, 194);
    }
}

.blue-sqr {
    height: 200px;
    border: 3px dashed;
    padding-inline: 30px;
    column-fill: balance;
    white-space: nowrap;
}

